<div class="container padding_tp" ng-controller="homeCtrl" >
   <div class="row">
      <div class="col-md-4 col-sm-4"></div>
      <div class="col-md-8 col-sm-8 filter_section">
         <span><b>Show Only :</b></span>
         <span><label><input type="checkbox" value=""> CS(<500)</label></span>
         <span><label><input type="checkbox" value=""> CYBR</label></span>
         <span><label><input type="checkbox" value=""> IT</label></span>
         <span><label><input type="checkbox" value=""> MIS</label></span>
         <span><label><input type="checkbox" value=""> CS/IT</label></span>
         <span><label><input type="checkbox" value=""> CYBR/IT</label></span>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-12">
         <table class="table table-bordered" id="table">
            <thead>
               <tr>
                  <th colspan="2">Courses</th>
               </tr>
               <tr>
                  <th>Prefix</th>
                  <th>Number</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="course in courseData" ng-click="selectCourse(course); selectedChoice()">
                  <td ng-disabled="true">{{course.courseName}}</td>
                   <td ng-disabled="true">{{course.number}}</td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="col-md-1 col-sm-1 col-xs-6">
         <table class="table table-bordered" >
            <thead>
               <tr>
                  <th>Instructor</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="instructor in instructorData" ng-click="selectInstructor(instructor)">
                  <td>{{instructor.instructorName}}</td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="col-md-1 col-sm-1 col-xs-6 ">
         <table class="table  table-bordered">
            <thead>
               <tr>
                  <th>Rooms</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                <tr draggable="true" ondragstart="angular.element(this).scope().dragStart(event,3)" id="room_{{$index}}"  ng-click="selectRooms(room)"  ng-repeat="room in roomsData">
                  <td>{{room.roomName}}</td>
               </tr>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12"  id="timeSlot">
         <table class="table table-bordered" >
            <thead>
               <tr>
                  <th ng-repeat="header in timeTableHeader">{{header}}</th>
               </tr>
            </thead>
            <tbody>
               <tr>
               <td>MWF <br>08:30-09:20</td>
                  <td id="1_{{$index}}" ng-repeat="room in timeslotData.first_slot" ondrop="angular.element(this).scope().dragDrop(1,event)" ondragover="angular.element(this).scope().allowDrop(event)">
                       <span id="11_{{$index}}" ng-if="room.length>0" custom-popover popover-html="Some Popover Text" tags="room"></span>
                  </td> 
               </tr>
               <tr>
                  <td>MWF <br>09:30-10:20</td>
                      <td id="2_{{$index}}" ng-repeat="room in timeslotData.second_slot" ondrop="angular.element(this).scope().dragDrop(2,event)"  ondragover="angular.element(this).scope().allowDrop(event)">
                      <span id="22_{{$index}}" ng-if="room.length>0" custom-popover popover-html="Some Popover Text" tags="room"></span>
                   </td> 
               </tr>
               <tr>
                  <td>MW <br>11:30-12:45</td>
                    <td id="3_{{$index}}" ng-repeat="room in timeslotData.third_slot" ondrop="angular.element(this).scope().dragDrop(3,event)"  ondragover="angular.element(this).scope().allowDrop(event)">
                    <span id="33_{{$index}}" ng-if="room.length>0" custom-popover popover-html="Some Popover Text" tags="room"></span>
                 </td> 
               </tr>
               <tr>
                  <td>MW <br>02:00-03:15</td>
                 <td id="4_{{$index}}" ng-repeat="room in timeslotData.fourth_slot" ondrop="angular.element(this).scope().dragDrop(4,event)" ondragover="angular.element(this).scope().allowDrop(event)">
                     <span id="44_{{$index}}" ng-if="room.length>0" custom-popover popover-html="Some Popover Text" tags="room"></span>
                   </td> 
               </tr>
               <tr>
                  <td>TR <br>10:00-11:15</td>
                 <td id="5_{{$index}}" ng-repeat="room in timeslotData.fifth_slot" ondrop="angular.element(this).scope().dragDrop(5,event)" ondragover="angular.element(this).scope().allowDrop(event)">
                     <span id="55_{{$index}}" ng-if="room.length>0" custom-popover popover-html="Some Popover Text" tags="room"></span>
                   </td> 
               </tr>
            </tbody>
         </table>
         <div class="col-md-3 col-sm-3 col-xs-6 ">
            <div class="col-md-12 btn btn-default" ng-click="saveConfig();">
               Save Config
            </div>
         </div>
         <div class="col-md-3 col-sm-3 col-xs-6">
            <button type="button" class="col-md-12 btn btn-default" ng-csv="getArray" csv-header="getCsvHeader()" filename="csvtest.csv">
               Export CSV
            </div>
         </div>
         <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="col-md-12 btn btn-default">
               Print Instructor Schedules
            </div>
         </div>
         <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="col-md-12 btn btn-default">
               Print Timetable
            </div>
         </div>
      </div>
   </div>
</div>