.padding_tp{
padding-top: 40px;
}
table {
background-color: #ccc;
}
.filter_section{
padding-bottom:20px;
}
.filter_section span{
display: inline-block;
padding-right: 10px;
}
label {
cursor: pointer;
font-weight: normal;
}
input[type=checkbox]{
cursor: pointer;
vertical-align: top;
}
.btn{
white-space: normal;
}
hr {
    margin-top: 5px;
    margin-bottom: 5px;
    order: 0;
    border-top: 1px solid #eee;
}



td {border: 1px #DDD solid; padding: 5px; cursor: pointer;}

.selected {
    background-color: brown;
    color: #FFF;
}